Repository citysciencelab/cut-paperscope-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: phpunit, vitest

Path conditions:
  phpunit: any of: app/**/*, config/**/*, database/**/*, routes/**/*, resources/views/**/*, tests/PHPUnit/**/*, composer.json, composer.lock
  vitest: any of: resources/js/**/*, resources/lang/**/*, resources/sass/**/*, resources/svg/**/*, tests/Vitest/**/*, package.json, package-lock.json, bun.lockb, tsconfig.json, vite.config.js

public websocket channels and polling request mode for visualizer
  app/Events/ProjectSceneUpdated.php
  app/Http/Controllers/App/ProjectController.php
  app/Http/Requests/App/ProjectSceneSaveRequest.php
  app/Jobs/ProcessProjectUpload.php
  resources/js/app/AppRouter.js
  resources/js/app/components/user/InputUserUpload.vue
  resources/js/app/components/visualizer/PSObject.js
  resources/js/app/components/visualizer/Visualizer.vue
  resources/js/global/composables/useBroadcast.ts
Due: phpunit, vitest

add Readme
  Readme.md
  assets/HCU_PaperScope_A4.indd
  assets/beamer-setup.png
  assets/beamer-view.png
  assets/home.png
  assets/install.png
  assets/login.png
  assets/paperscope-logo.png
  assets/visualizer.png
  bun.lockb
  install.sh
  package-lock.json
  package.json
  resources/js/app/pages/PageDetail.vue
  resources/js/app/pages/user/PageHome.vue
  resources/js/global/routes/ZiggyExport.js
  routes/broadcast/channels.php
  tests/_database/TestingDatabase.sqlite
Due: phpunit, vitest

clear cache after processing project job
  app/Jobs/ProcessProjectUpload.php
Due: phpunit

Bugfix: Beamer not using public websocket channel
  resources/js/app/components/beamer/Beamer.vue
Due: vitest

init branch
  .env.example
  app/Events/ProjectSceneUpdated.php
  app/Http/Controllers/App/ProjectController.php
  app/Http/Controllers/Backend/BackendController.php
  app/Http/Controllers/Controller.php
  app/Http/Requests/App/ProjectSceneSaveRequest.php
  app/Traits/UploadValidationTrait.php
  config/app.php
  config/reverb.php
  database/seeders/LocalSeeder.php
  database/seeders/TestingSeeder.php
  database/seeders/UserTableSeeder.php
  resources/js/app/App.js
  resources/js/app/AppRouter.js
  resources/js/app/components/beamer/Beamer.vue
  resources/js/app/components/project/ProjectObjects.vue
  resources/js/app/components/project/ProjectPaper.vue
  resources/js/app/components/visualizer/PSObject.js
  resources/js/app/components/visualizer/Visualizer.vue
  resources/js/app/components/visualizer/VisualizerNavi.vue
  resources/js/app/pages/project/PageProjectEdit.vue
  resources/js/backend/BackendRouter.js
  resources/js/backend/components/navi/BackendNavi.vue
  resources/js/global/components/broadcast/Broadcast.vue
  resources/js/global/components/form/InputText.vue
  resources/js/global/composables/useApi.ts
  resources/js/global/composables/useBroadcast.ts
  resources/js/global/composables/useConfig.ts
  resources/js/global/routes/ZiggyExport.js
  resources/sass/app/app.scss
  resources/sass/app/components/visualizer/_visualizer.scss
  resources/sass/global/components/form/_input-select.scss
  routes/api/api_app.php
  routes/api/api_backend.php
  routes/broadcast/channels.php
  routes/web/web_app.php
Due: phpunit, vitest

add resources
  app/Http/Controllers/App/SimulationController.php
  app/Http/Controllers/Backend/SimulationController.php
  app/Http/Requests/App/SimulationExecuteRequest.php
  app/Http/Requests/App/SimulationSaveRequest.php
  app/Http/Requests/Backend/SimulationSaveRequest.php
  app/Http/Resources/SimulationListResource.php
  app/Http/Resources/SimulationResource.php
  app/Jobs/ProcessSimulationUpload.php
  app/Jobs/RunSimulation.php
  app/Models/App/Simulation.php
  database/factories/App/SimulationFactory.php
  database/factories/App/SimulationFactoryData.json
  database/migrations/2025_04_28_000001_create_simulations_table.php
  resources/js/app/components/project/ProjectSimulation.vue
  resources/js/app/components/simulation/Simulation.vue
  resources/js/app/components/simulation/SimulationProcess.vue
  resources/js/app/components/simulation/SimulationResult.vue
  resources/js/app/composables/useUmp.ts
  resources/js/backend/pages/simulation/PageSimulationEdit.vue
  resources/js/backend/pages/simulation/PageSimulationList.vue
  resources/sass/app/components/project/_project-simulation.scss
  resources/sass/app/components/simulation/_simulation-process.scss
  resources/sass/app/components/simulation/_simulation-result.scss
  resources/sass/app/components/visualizer/_visualizer-navi.scss
  resources/svg/app/icons/button/btn-running.svg
  resources/svg/app/icons/button/btn-simulation.svg
Due: phpunit, vitest

remove hardcoded testing token
  resources/js/app/composables/useUmp.ts
Due: vitest

add endpoint to serve local simulation results as WMS
  app/Http/Controllers/App/SimulationController.php
  app/Http/Requests/App/SimulationWmsRequest.php
  app/Jobs/RunSimulation.php
  resources/js/app/components/simulation/Simulation.vue
  resources/js/app/components/simulation/SimulationProcess.vue
  resources/js/app/components/simulation/SimulationResult.vue
  resources/js/app/components/visualizer/VisualizerNavi.vue
  resources/js/app/composables/useUmp.ts
  resources/js/app/pages/project/PageProjectEdit.vue
  resources/js/app/stores/ContentStore.js
  resources/js/global/components/content/Btn.vue
  resources/js/global/routes/ZiggyExport.js
  routes/api/api_app.php
  routes/web/web_app.php
Due: phpunit, vitest

disable rate limiting for ogc api endpoints
  app/Http/Controllers/App/SimulationController.php
  app/Jobs/RunSimulation.php
  resources/js/app/components/visualizer/VisualizerNavi.vue
  routes/api/api_app.php
  routes/web/web_app.php
Due: phpunit, vitest

better max width for fragments
  resources/sass/app/components/fragment/_fragment-separator.scss
  resources/sass/app/components/fragment/_fragments.scss
Due: vitest

update test classes
  install.sh
  package-lock.json
  package.json
  public/img/app/develop/heatmap-test.jpg
  public/svg/app/sprite-icons.svg
  scripts/ci-cd/gitlab/install_composer.sh
  scripts/ci-cd/gitlab/install_env.sh
  scripts/ci-cd/gitlab/install_node_modules.sh
  scripts/tileset-crawler/crawler.js
  scripts/tileset-crawler/package.json
  tests/Cypress/e2e/backend/model/simulation/01-backend-model-simulation-create.cy.js
  tests/Cypress/e2e/backend/model/simulation/02-backend-model-simulation-edit.cy.js
  tests/Cypress/e2e/backend/model/simulation/03-backend-model-simulation-delete.cy.js
  tests/PHPCS/Sniffs/Comments/CommentSectionLeadingSpaceSniff.php
  tests/PHPCS/Sniffs/Comments/CommentSectionTrailingSpaceSniff.php
  tests/PHPCS/Sniffs/Functions/FunctionEmptyLineSniff.php
  tests/PHPCS/Sniffs/Functions/FunctionOpeningBracketSniff.php
  tests/PHPUnit/Feature/Http/Controllers/App/SimulationControllerTest.php
  tests/PHPUnit/Feature/Http/Controllers/Backend/BackendSimulationControllerTest.php
  tests/PHPUnit/Feature/Http/Requests/Backend/SimulationSaveRequestTest.php
  tests/PHPUnit/Feature/Models/App/SimulationTest.php
  tests/Vitest/Unit/global/composables/useConfig.test.js
  tests/_database/TestingDatabase.sqlite
Due: phpunit, vitest

edit scene on project page
  app/Http/Controllers/App/ProjectController.php
  resources/js/app/components/project/ProjectMapping.vue
  resources/js/app/pages/project/PageProjectEdit.vue
  resources/sass/app/components/project/_project-mapping.scss
Due: phpunit, vitest

allow 1m input value for simulations
  app/Http/Controllers/App/SimulationController.php
  app/Http/Requests/App/SimulationExecuteRequest.php
  resources/js/app/components/simulation/SimulationProcess.vue
  resources/js/app/components/visualizer/Visualizer.vue
Due: phpunit, vitest

revert env exampe changes
  .env.example
Due: none

Feature/erweiterungen
  app/Http/Controllers/App/Simulation/UmepHeatIslandController.php
  app/Http/Controllers/App/SimulationController.php
Due: phpunit

refactoring visualizer for better websocket callbacks
  app/Http/Controllers/App/ProjectController.php
  app/Http/Controllers/App/Simulation/BaseSimulationController.php
  app/Http/Requests/App/ProjectSaveRequest.php
  app/Http/Requests/App/ProjectSettingsSaveRequest.php
  app/Http/Resources/ProjectResource.php
  app/Jobs/RunSimulation.php
  app/Jobs/Simulation/IsodistanceSimulation.php
  app/Models/App/Project.php
  package-lock.json
  package.json
  resources/js/app/components/beamer/Beamer.vue
  resources/js/app/components/header/HeaderComponent.vue
  resources/js/app/components/project/ProjectObjects.vue
  resources/js/app/components/project/ProjectSimulation.vue
  resources/js/app/components/simulation/SimulationList.vue
  resources/js/app/components/simulation/SimulationResult.vue
  resources/js/app/components/visualizer/HeatmapHelper.js
  resources/js/app/components/visualizer/PSObject.js
  resources/js/app/components/visualizer/Visualizer.vue
  resources/js/app/components/visualizer/Visualizer2d.vue
  resources/js/app/components/visualizer/Visualizer3d.vue
  resources/js/app/components/visualizer/VisualizerComponent.vue
  resources/js/app/components/visualizer/VisualizerNavi.vue
  resources/js/app/pages/project/PageProjectEdit.vue
  resources/js/app/stores/VisualizerStore.js
  resources/js/global/lang/LangForm.js
  resources/js/global/routes/ZiggyExport.js
  resources/sass/app/components/visualizer/_visualizer-navi.scss
  resources/svg/app/icons/content/cross.svg
  routes/api/api_app.php
  scripts/cli/cli_commands.txt
Due: phpunit, vitest
